.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profileButton {
  text-decoration: none;
  color: #6e44ff;
}

.userProfileImage {
 margin: 5rem 0 auto;
 text-align: center;
}


.userProfileImg{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 3rem;
}

.btn {
  margin: 2rem auto 0.7rem;
  border-radius: 8px;
  width: 20%;
  height: 2rem;
  border: 1px solid black;
  background-color: #6e44ff;
  color: white;
  font-size: 18px;
}

.userProfileInfo {
  margin: 0 auto 2rem;
  padding-bottom: 2.5rem;
  text-align: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
}

.userProfileSecurity {
  margin: 0 auto 2rem;
  text-align: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(196, 196, 196);
  padding-bottom: 1rem;
  border-radius: 5px;
}

.inputForm{
  width: 35%;
  height: 2rem;
  margin: 0.5rem auto;
  border-radius: 5px;
  border: 1px solid rgb(196, 196, 196);
}